{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}" id="logo">
      yusop
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tiendas' %}">Tiendas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">Carrito</a></li>

        {% if user.is_authenticated %}
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item item-normal" href="{% url 'perfil' %}">Mi perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'mis_tiendas' %}">Mis tiendas</a></li>
                    <li><a class="dropdown-item item-normal" href="{% url 'mis_pedidos' %}">Mis pedidos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item item-salir" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a class="dropdown-item item-normal" href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li><a class="dropdown-item item-normal" href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
            </ul>
            </li>

        {% else %}
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cuenta</a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" href="{% url 'registro' %}">Registrar</a></li>
              </ul>
            </li>

        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
